.main {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
}

@media only screen and (max-width: 820px) {
  .main {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}

@media only screen and (max-width: 500px) {
  .main {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }
}
