html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: "Bellefair", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  padding-top: 11rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

:root {
  --almost-black: #0b0d17;
  --light-purple: #d0d6f9;
}
