html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: "Bellefair", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  padding-top: 26rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-left: 10rem;
  padding-right: 10rem;
}

h1,
h2 {
  font-weight: 100;
  margin: 0;
}

.srOnly {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  position: absolute;
}

.tourHeading {
  color: white;
  font-size: 3.2rem;
  font-family: "Barlow Condensed";
  letter-spacing: 0.475rem;
  position: absolute;
  top: 21rem;
  left: 10rem;
}

.tourHeading span {
  color: gray;
  font-weight: bold;
  margin-right: 2rem;
}

@media only screen and (max-width: 1200px) {
  .tourHeading {
    left: 5rem;
  }
}

@media only screen and (max-width: 1024px) {
  main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 820px) {
  .tourHeading {
    top: 11rem;
    font-size: 2.8rem;
  }

  main {
    padding-top: 16rem;
    height: auto;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 500px) {
  .tourHeading {
    font-size: 2rem;
    width: 100%;
    left: 0;
    text-align: center;
  }

  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 330px) {
  .tourHeading {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1441px) {
  main {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
  }

  section {
    width: 1400px;
  }
}

:root {
  --almost-black: #0b0d17;
  --light-purple: #d0d6f9;
}
